{% extends 'app/base.html' %} {% load static %}
 {% block title %}login

 {%endblock title %}
 {% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome Manika</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'profile' %}" class="btn btn-primary"
            >Profile</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
      <h3>Password Changed Successfully !</h3>
          <img src="{% static 'app/images/done.png' %}" alt="">
      
    </div>
  </div>
</div>
{% endblock main-content %}
