{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Cahnge{% endblock title %}
{% block main-content %}
<div class="container my-5">
<div class="row">
     <h3>Welcome Manika</h3>
     <div class="col-sm-2 border-end">
          <ul class="list-unstyled">
               <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
               </li>
          </ul>
     </div>
     <div class="col-sm-6 offset-sm-1">
          <h3>Change Password</h3>
          <hr>
          <form action="" method="post" novalidate class="shadow p-5">
               {% csrf_token %}
                {% comment %} this will aotomatically render myform var to loop {% endcomment %}
                    {% for fm in form %}
                    <div class="form-group">
                       {{fm.label_tag}} {{fm}}
                       <small class="text-danger">{{fm.errors | striptags}}</small>
                    </div>
                    {% endfor %}
                    <small class="">
                       <a href="{% url 'password_reset' %}">Forgot Passsword ?</a>
                       <br>
                    </small>
                       <input type="submit" class="btn btn-primary mt-4" value="Change Password">
                       <br>
                      
                       {% if form.non_field_errors %}
                       {% for error in form.non_field_errors %}
                           <p class="aler alert-danger my-3">{{error}}</p>
                       {% endfor %}
                       {% endif %}
              </form>
     </div>
</div>
</div>
{% endblock %}